{% extends 'base.html' %}
{% block content %}
{% load static %}
{% for m in messages %}
{{ m }}
{% endfor %}
<div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <form class="main_form" method="post" action="/login/" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <input class="form-control" placeholder="Username" type="text" name="Username">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <input class="form-control" placeholder="password" type="password" name="password">
                            </div>
                            <div class=" col-md-12">
                                <button class="send">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}